.header {
    grid-column: full-start / full-end;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 90%;
        text-align: center;
    }

    &__nav {
        width: 80%;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-content: center;

        list-style: none;

        @media only screen and (max-width: $bp-small) {
           flex-wrap: wrap;
           justify-content: space-between;
        }
    }

    &__item {

        @media only screen and (max-width: $bp-small) {
            flex: 0 1 50%;

            display: flex;
            justify-content: center;
            align-items: baseline;
        }

        &:not(:last-child) {

            @media only screen and (max-width: $bp-small) {
                margin-bottom: 5rem;
            }
        }
    }

    &__link:link, &__link:visited {
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        color: $color-grey-dark-2;
        background-color: rgba(255, 255, 255, .5);
        border: 1px solid currentColor;
        padding: 1rem 3rem;
        box-shadow: 0 0 5rem rgba($color-grey-dark-2, .3);
        display: inline-block;
        transition: all .2s;
        backface-visibility: hidden;

        @media only screen and (max-width: $bp-medium) {
            padding: .8rem 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 80%;
            text-align: center;
        }
        

    }

    &__link:hover, &__link:active {
        transform: scale(1.2);
        background-color: rgba($color-primary, .3);
        box-shadow: 0 0 5rem rgba($color-grey-dark-2, .4);

        @media (hover: none) {
            transform: scale(1);
            background-color: rgba(255, 255, 255, .5);
            box-shadow: 0 0 5rem rgba($color-grey-dark-2, .3);
        }
    }
}