.about {
    grid-column: center-start / center-end;

    padding: 15rem 0;

    @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10rem 0;
    }

    &__photo-box {
        width: 25rem;
        height: 25rem;
        float: left;
        border-radius: 50%;
        margin-right: 10rem;
        margin-bottom: 4rem;
        margin-top: 3rem;
        overflow: hidden; //FIXED IMAGE SHAPE DURING THE TRANSITION IN CHROME
        position: relative;

        @supports (-webkit-clip-path: circle(50% at 50% 50%)) or (clip-path: circle(50% at 50% 50%)) {
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%); //TO USE THIS PROPERTY WIDTH, HEIGHT AND FLOAT HAVE TO BE DETERMINED
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            border-radius: 0;            
        } 

        @media only screen and (max-width: $bp-small) {
            -webkit-shape-outside: none;
            shape-outside: none;
            margin: 0 0 5rem 0;
        }
        
    }

    &__photo {
        height: 100%;
        transform: scale(1.3);
    }

    &__content {
        font-size: 1.7rem;
        text-align: justify;
    }

    &__paragraph {

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}