.contact {
    grid-column: center-start / center-end;

    padding: 15rem 0;

    display: flex;
    flex-direction: column;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        grid-row-gap: 3rem;

        list-style: none;
    }

    &__item {
        flex: 0 1 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &__icon {
        display: inline-block;
        font-size: 6rem;
        color: $color-primary;
    }

    &__text, &__link:link, &__link:visited {
        display: inline-block;
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-grey-dark-1;  
        margin-top: -1rem;
        transition: all .2s;
    }

    &__link:hover, &__link:active {
        color: $color-primary;
        transform: translateY(-2px);
    }
}